<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="crest">
            <h2><span jhiTranslate="jhipsterWlsApp.crest.detail.title">Crest</span> {{ crest.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterWlsApp.crest.verantwoordelijkeCrest">Verantwoordelijke Crest</span></dt>
                <dd>
                    <span>{{ crest.verantwoordelijkeCrest }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterWlsApp.crest.naamEntiteit">Naam Entiteit</span></dt>
                <dd>
                    <span>{{ crest.naamEntiteit }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/crest', crest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
