<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-crest-heading" jhiTranslate="jhipsterWlsApp.crest.home.createOrEditLabel">Create or edit a Crest</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterWlsApp.crest.verantwoordelijkeCrest" for="field_verantwoordelijkeCrest">Verantwoordelijke Crest</label>
                    <input type="text" class="form-control" name="verantwoordelijkeCrest" id="field_verantwoordelijkeCrest"
                           formControlName="verantwoordelijkeCrest"/>
                    <div *ngIf="editForm.get('verantwoordelijkeCrest')!.invalid && (editForm.get('verantwoordelijkeCrest')!.dirty || editForm.get('verantwoordelijkeCrest')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('verantwoordelijkeCrest')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterWlsApp.crest.naamEntiteit" for="field_naamEntiteit">Naam Entiteit</label>
                    <input type="text" class="form-control" name="naamEntiteit" id="field_naamEntiteit"
                           formControlName="naamEntiteit"/>
                    <div *ngIf="editForm.get('naamEntiteit')!.invalid && (editForm.get('naamEntiteit')!.dirty || editForm.get('naamEntiteit')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('naamEntiteit')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
